<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">
    <f:be.pageRenderer
        includeCssFiles="{0: 'EXT:ai_label/Resources/Public/Css/ai-label.css'}"
        includeJavaScriptModules="{0: '@typo3/backend/context-menu.js'}"
    />

    <f:comment>
        Passed to f:be.infobox as ".value" (the plain int), not as the enum case itself:
        on v13.4 InfoboxViewHelper registers "state" as type "int", so handing it the
        enum object makes Fluid's argument validation throw
        (InvalidArgumentException 1256475113) before render() is ever reached. Only v14
        widened that argument to "mixed" and accepts a ContextualFeedbackSeverity. The
        int is valid on both. InfoboxViewHelper::STATE_* would work too, but those
        constants are deprecated since v14 and go away in v15.
    </f:comment>
    <f:variable name="severityInfo" value="{f:constant(name: 'TYPO3\CMS\Core\Type\ContextualFeedbackSeverity::INFO')}" />

    <f:if condition="{statistics.total}">
        <f:then>
            <f:render partial="Overview/Stats" arguments="{statistics: statistics}" />
            <f:render partial="Overview/Filters" arguments="{_all}" />

            <f:if condition="{paginator.paginatedItems}">
                <f:then>
                    <f:render partial="Overview/Table" arguments="{_all}" />
                    <f:render partial="Pagination" arguments="{paginator: paginator, pagination: pagination, baseUrl: paginationBaseUrl}" />
                </f:then>
                <f:else>
                    <f:be.infobox
                        title="{f:translate(key: 'LLL:EXT:ai_label/Resources/Private/Language/locallang_mod.xlf:overview.noEntries.title')}"
                        state="{severityInfo.value}"
                    >
                        <p><f:translate key="LLL:EXT:ai_label/Resources/Private/Language/locallang_mod.xlf:overview.noEntries.filtered" /></p>
                        <a href="{f:be.uri(route: 'web_ai_label_overview')}" class="btn btn-default">
                            <f:translate key="LLL:EXT:ai_label/Resources/Private/Language/locallang_mod.xlf:filter.reset" />
                        </a>
                    </f:be.infobox>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:be.infobox
                title="{f:translate(key: 'LLL:EXT:ai_label/Resources/Private/Language/locallang_mod.xlf:overview.empty.title')}"
                state="{severityInfo.value}"
            >
                <f:translate key="LLL:EXT:ai_label/Resources/Private/Language/locallang_mod.xlf:overview.empty.message" />
            </f:be.infobox>
        </f:else>
    </f:if>

    <div id="b13_loves_typo3">
        <a href="https://b13.com?utm_source=web&utm_medium=dashboard&utm_campaign=ai_label&utm_id=ai_label" target="_blank" rel="external">
            made with ❤ by b13
        </a>
    </div>
</f:section>

</html>
